<section>
<div class="row  footer1 pt-3 mx-0">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="text-light footer1-content1" >Faculdade de Engenharia</div>
      <div class="footer1-content" ><span>Telefone: </span><span>+258845462734</span></div>
      <div class="footer1-content"><span>Email: </span>racademico@unilurio.ac.mz</div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="text-light footer1-content1">Nucleo de Estudantes</div>
      <div class="footer1-content"><span>Telefone: </span><span>+258844892260</span></div>
      <div class="footer1-content"><span>Telefone: </span><span>+258844219569</span></div>
      <div class="footer1-content"><span>Email: </span>racademico@unilurio.ac.mz</div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="text-light footer1-content1">Registo Acadêmico</div>
      <div class="footer1-content"><span>Telefone: </span><span>+258845462734</span></div>
      <div class="footer1-content"><span>Email: </span>racademico@unilurio.ac.mz</div>
    </div>
  </div>
  <div class="row  text-light pt-2 pb-3 footer1 mx-0">
    <div class="col-lg-4 col-md-12 col-sm-12 ">
      <div class="text-light footer1-content1">Links Essenciais</div>
      <div class="footer1-content"><a href="/estudante" class="nav-link">e-Sira</a></div>
      <div class="footer1-content"><a href="/departamento"  class="nav-link">CEPRE</a></div>
      <div class="footer1-content"><a href="/departamento"  class="nav-link">CEFOG</a></div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="text-light footer1-content1">Endere&ccedil;o da FE</div>
      <div class="footer1-content"><span>Av.Eduardo Mondlane </span></div>
      <div class="footer1-content"><span>Email: </span>racademico@unilurio.ac.mz</div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="text-light footer1-content1">Redes Sociais</div>
      <div class="footer1-content mt-1"><a class="btn btn-primary border-0 me-1" style="background-color: #3b5998;" href="#!" role="button"><i class="fab fa-facebook-f"></i></a><a class="btn btn-primary border-0" style="background-color: #f03737;" href="#!" role="button"><i class="fas fa-envelope"></i></a></div>
    </div>
  </div>
  <div class="row mx-0" style="background-color: #2577b7;">
    <div class="col ">
      <div class="text-center footer2-content"><span>copyright @Faculdade de Engenharia 2023. Todos os direitos reservados</span></div>
      <div class="text-center footer2-content"><span>Concurso@FE| Linha Direta de &Eacute;tica | Privacidade | Termos de uso</span></div>
    </div>
  </div>
</section>