<section>
<div class="row  footer1 pt-3 mx-0">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="text-light footer1-content1" >Faculdade de Engenharia</div>
      <div class="footer1-content" >Telefone: +258845462734</div>
      <div class="footer1-content">Email: fe@unilurio.ac.mz</div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="text-light footer1-content1">Nucleo de Estudantes</div>
      <div class="footer1-content">Telefone: +258844892260</div>
      <div class="footer1-content">Telefone: +258844219569</div>
      <div class="footer1-content">Email: racademico@unilurio.ac.mz</div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 " >
      <div class="text-light footer1-content">Registo Acadêmico</div>
      <div class="footer1-content">Telefone: +258845462734 </div>
      <div class="footer1-content">Email: racademico@unilurio.ac.mz</div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 ">
      <div class="text-light footer1-content1">Links Essenciais</div>
      <div class="footer1-content"><a href="/estudante" class="nav-link">e-Sira</a></div>
      <div class="footer1-content"><a href="https://fecn.unilurio.ac.mz/cepre"  class="nav-link">CEPRE</a></div>
      <div class="footer1-content"><a href="https://xibalo.com"  class="nav-link">CEFOG</a></div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="text-light footer1-content1">Endere&ccedil;o da FE</div>
      <div class="footer1-content">Av.Eduardo Mondlane</div>
      <div class="footer1-content">Email: racademico@unilurio.ac.mz</div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="text-light footer1-content1">Redes Sociais</div>
      <div class="footer1-content mt-1"><a class="btn btn-primary border-0 me-1 bg-primary"  href="#!" role="button"><i class="fab fa-facebook-f"></i></a><a class="btn btn-primary border-0 bg-primary"  href="#!" role="button"><i class="fas fa-envelope"></i></a></div>
    </div>

  </div>
  <div class="row mx-0 footer1 border border-top border-secondary" >
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <div class="text-center footer2-content">copyright @Faculdade de Engenharia 2023. Todos os direitos reservados</div>
      <div class="text-center footer2-content">Concurso@FE| Linha Direta de &Eacute;tica | Privacidade | Termos de uso</div>
    </div>
  </div>
</section>
