
<nav class="navbar navbar-expand-sm navbar-light  navbar-dark" style="background-color: #606263;">
    <div class="container-fluid">
        <ul class="navbar-nav d-flex flex-row nav10"  >
            <li class="nav-item head10">
                <div class="input-group ">
                    <span class="input-group-text border-0 shadow-sm rounded-0 text-light" id="basic-addon1" style="background-color: #2577b7;">Conteudo</span>
                    <input type="text" class="form-control border-0 shadow-sm rounded-0" id="pesquisa" placeholder="Search For..."/>
                    <span class="input-group-text border-0 shadow-sm rounded-0 " id="basic-addon1" style="background-color: #2577b7;"><i class="fas fa-search text-light"></i></span>
                </div> 
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="https://seul.unilurio.ac.mz/"><i class="fas fa-graduation-cap me-1"></i>e-Sira</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/contacto/#suporte"><i class="fas fa-comments me-1"></i>Suporte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#"><i class="fas fa-newspaper me-1"></i>Noticias</a>
            </li>
        </ul>
    </div>
</nav>
