<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Contacte-nos</title>
        <link type="text/css" rel="stylesheet" href="../css/style.css" />
        <link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
       
    </head>
    <body>
        <header>
            <section class=""> <%- include('../partials/header1'); %> </section>
            <section class="header02"> <%- include('../partials/header'); %> </section> 
        </header>
        <section> 
            <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../image/contacto.png" alt="graduacao2017" class="img-fluid d-block" style="width:100%; opacity: .9; ">
                  
                </div>
            </div>
        </section>

        <main class="">
            <div class="container ms-auto me-auto ">
                <h3 class="text-center my-2">Contacte-nos</h3>
                <div class="row my-1">
                    <div class="col-12 py-1"  style="background-color:#F5F3F3;font-weight: bolder;">
                        FACULDADE DE ENGENHARIA
                    </div>
                    <div class="col-12"><label><span>Centro de Atendimentos </span><span> Segunda-Sexta 07:00 - 17:00h</span></label></div>
                </div>
                <div class="row my-5">
                    <div class="col-lg-4 col-sm-6">
                      <div class="card border-0 shadow-sm">
                        <div  class="card-head text-center ">
                            <i class="fas fa-users fa-2x text-primary mt-2"></i>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title text-center">Registo Academico</h5>
                          <p class="card-text " style="margin-left: 22%;">reg.academico@unilurio.ac.mz <br/>(+258) 845365745<br/>(+258) 875365745</p>
                      
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                      <div class="card border-0 shadow-sm">
                        <div  class="card-head text-center ">
                            <i class=" fas fa-graduation-cap fa-2x text-primary mt-2"></i>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title text-center">Nucleo de Estudante</h5>
                          <p class="card-text " style="margin-left: 22%;">nef@unilurio.ac.mz <br/>(+258) 845365745<br/>(+258) 875365745</p>
                         
                        </div>
                      </div>
                    </div>
                    <div class=" col-lg-4 col-sm-6">
                        <div class="card border-0 shadow-sm">
                            <div  class="card-head text-center ">
                                <i class="fas fa-university  fa-2x text-primary mt-2"></i>
                            </div>
                          <div class="card-body">
                            <h5 class="card-title text-center">Centros da FE</h5>
                            <p class="card-text " style="margin-left: 22%;">cepre.academico@unilurio.ac.mz<br/> cefog.academico@unilurio.ac.mz<br/>(+258) 845365745</p>
                           
                          </div>
                        </div>
                      </div>
                  </div>
                <div class="row" id="suporte">
                    <div class="col-12 text-center  ">
                      <h4> Equipe de desenvolvimento</h4>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-lg-3 col-sm-6">
                      <div class="card border-0 shadow-sm">
                        <div  class="card-head text-center ">
                            <div><img src="../image/jc2.png" alt="diretora" class="img-fluid rounded-circle" width="80" height="80"></div>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title text-center">Jos&eacute; Artur Cumbe</h5>
                          <p class="card-text text-center" >jcumbe@unilurio.ac.mz <br/>(+258) 845462734</p>
      
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                      <div class="card border-0 shadow-sm">
                        <div  class="card-head text-center ">
                            <div><img src="../image/elif1.png" alt="diretora" class="img-fluid rounded-circle" width="80" height="80"></div>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title text-center">Elifiria Bene</h5>
                          <p class="card-text  text-center" >ebene@unilurio.ac.mz <br/>(+258) 845296046</p>
                          
                        </div>
                      </div>
                    </div>
                    <div class=" col-lg-3 col-sm-6">
                        <div class="card border-0 shadow-sm">
                            <div  class="card-head text-center ">
                                <div><img src="../image/quenad.png" alt="diretora" class="img-fluid rounded-circle" width="80" height="0"></div>
                            </div>
                          <div class="card-body">
                            <h5 class="card-title text-center">Quenad Deniasse Mesa</h5>
                            <p class="card-text text-center" >quenad.mesa@unilurio.ac.mz <br/>(+258) 844776304</p>
                           
                          </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-sm-6">
                        <div class="card border-0 shadow-sm">
                            <div  class="card-head text-center ">
                                <div><img src="../image/jozino.jpg" alt="diretora" class="img-fluid rounded-circle" width="80" height="80"></div>
                            </div>
                          <div class="card-body">
                            <h5 class="card-title text-center">Jozino Abubacar</h5>
                            <p class="card-text text-center " >nef@unilurio.ac.mz <br/>(+258) 852092115</p>
                           
                          </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-sm-6">
                      <div class="card border-0 shadow-sm">
                          <div  class="card-head text-center ">
                              <div><img src="../image/aldige.jpg" alt="diretora" class="img-fluid rounded-circle" width="60" height="80"></div>
                          </div>
                        <div class="card-body">
                          <h5 class="card-title text-center">Aldige Alige</h5>
                          <p class="card-text text-center " >aalige@unilurio.ac.mz <br/>(+258) 873709830</p>
                         
                        </div>
                      </div>
                  </div>
                  
                </div>
            </div>
           
        </main>


        <footer><%- include('../partials/footer'); %></footer>
        <script type="text/javascript" src="../js/jquery.js"></script>
        <script type="text/javascript" src="../js/bootstrap.js"></script>
        <script type="text/javascript" src="../js/axios.min.js"></script>
        <script type="text/javascript" src="../js/popper.js"></script>
    </body>
</html>