<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corpo tecnico administrativos</title>
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>
    <header>
        <section class=""><%- include('../partials/header1');%> </section>
        <section class="header02"><%- include('../partials/header'); %> </section>
    </header>
    <section> 
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../image/passistente.jpg" alt="graduacao2017" class="img-fluid d-block" style="width:100%; height: 420px; opacity: .8; ">
             
              </div>
            </div>
        </div>
    </section>
    <main>
    <div class="container">
        <div class="row my-3 mx-0 me-auto ms-auto">
            <div class="col">
                <h3 class="text-center">Corpo Tecnico Administrativo</h3>
                <div class=" py-2" style="background-color: #F5F3F3; font-size: 1.2rem;"><span class="ms-1">Sobre-Nos/Corpo Tecnico Administrativo</span></div>
            </div>
        </div>
            <div class="row mx-0">
                <div class="col-md-4">
                    <div class="card mb-4 border-0">
                        <img src="../image/passociado.jpg" height="200px" class="card-img-top border" alt="Card 1">
                        <div class="card-body">
                            <h5 class="card-title"> Direção ou Gerência Administrativa</h5>
                            <p class="card-text" style="text-align: justify;">
                                Desenvolver e implementar políticas e procedimentos administrativos.
                                Gerenciar recursos humanos, como funcionários administrativos e de apoio. Supervisionar
                                as atividades financeiras, Garantir o cumprimento de regulamentos e normas
                                institucionais.
                               
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 border-0">
                        <img src="../image/fadministrativo.jpg" height="200px" class="card-img-top" alt="Card 2">
                        <div class="card-body">
                            <h5 class="card-title">Funcionários Administrativos</h5>
                            <p class="card-text" style="text-align: justify;">


                                Responsaveis de atendimento ao público e suporte aos estudantes.
                                Manutenção de registros acadêmicos e administrativos. Gerenciamento de recursos
                                financeiros Apoio à organização de eventos e reuniões. Gerenciamento de sistemas de
                                tecnologia da informação (TI) e suporte técnico.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 border-0">
                        <img src="../image/ctecnologico.jpg" height="200px" class="card-img-top" alt="Card 3">
                        <div class="card-body">
                            <h5 class="card-title">Centro de Tecnologia da Informação (TI)</h5>
                            <p class="card-text" style="text-align: justify;">
                                Gerencia sistemas de TI e redes de computadores.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Div com três cards no footer -->
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 border-0">
                        <img src="../image/secretariag.jpg" height="200px" class="card-img-top" alt="Card 4">
                        <div class="card-body">
                            <h5 class="card-title">Secretaria Acadêmica</h5>
                            <p class="card-text" style="text-align: justify;">
                                Lida com questões administrativas e acadêmicas, incluindo matrículas e registros de
                                estudantes.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 border-0">
                        <img src="../image/recursoh.jpg" height="200px" class="card-img-top" alt="Card 5">
                        <div class="card-body">
                            <h5 class="card-title"> Setor de Recursos Humanos </h5>
                            <p class="card-text" style="text-align: justify;">
                                Gerencia questões relacionadas aos funcionários da faculdade. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 border-0">
                        <img src="../image/biblioteca.jpg" height="200px" class="card-img-top" alt="Card 6">
                        <div class="card-body">
                            <h5 class="card-title"> Biblioteca</h5>
                            <p class="card-text" style="text-align: justify;">


                                Apoiar, incrementar e fortalecer o projeto pedagógico da Faculdade, além de valorizar a
                                leitura literária em seu cotidiano e proporcionar condições para que o educador faça uso
                                coletivo do texto escrito.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</main>
<footer class=""><%- include('../partials/footer'); %></footer>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/axios.min.js"></script>
<script type="text/javascript" src="../js/popper.js"></script>

</body>

</html>