<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Cursos</title>
        <link type="text/css" rel="stylesheet" href="../css/style.css" />
        <link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <section class=""> <%- include('../partials/header1'); %> </section>
            <section class="header02"> <%- include('../partials/header'); %> </section> 
        </header>
        <section> 
            <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../image/study.png" alt="graduacao2017" class="img-fluid d-block" style="width:100%; opacity: .8; ">
                  <div class="carousel-caption  mt-3" style="bottom: 25%;">
                    <span class="text-light " style="font-size: 1.8rem; font-weight: bold;">Cursos de Graduacao</span>
                  </div>
                </div>
            </div>
        </section>
        <main class=" mx-0">
            <div class="row my-3 mx-0 me-auto ms-auto container">
                <div class="col">
              
                    <div class=" py-2" style="background-color: #F5F3F3; font-size: 1.2rem;"><span class="ms-1">Cursos da Faculdade de Engenharia</span></div>
                    <div class="py-2" style="text-align: justify;"> A Faculdade de Engenharia possui no total tres cursos da engenharia lecionadas por docentes qualificados, e que visa educar e formar profissionais competentes nas áreas de engenharia, 
                        comprometidos com o desenvolvimento da ciência e bem-estar das comunidades locais.Se você conseguir pensar em uma área de estudo ou carreira que se adapte à sua personalidade, interesses, objetivos e ao que você faz bem, você vai gostar do que faz e ser realmente ótimo em seus estudos e carreira futura.</div>
                </div>
            </div>
            <div class="row mx-0 me-auto ms-auto container my-5 ">
                <div class="col-lg-4 col-sm-12">
                    <img src="../image/study3.jpg" class="card-img-top rounded-1" alt="...">
                    <div class="  w-100  mt-1 py-2" >
                        <h4 class="mx-1 ">
                           O que Estudar?
                        </h4>
                        <div class="content" style="text-align:justify;">
                            A FE tem 4 cursos, você pode estudar praticamente tudo que imaginar sobre Engenharia juntos com FE. Se você &eacute; um aluno que deseja se formar e esta procurando um curso de graduação, ou que deseja continuar seus estudos de pós-graduação, a Faculdade de Engenhara tem algo para todos.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <img src="../image/study2.jpg" class="card-img-top rounded-1" alt="...">
                    <div class=" w-100  mt-1 py-2 " >
                        <h4 class="mx-1">O que esperar?</h4>
                        <div class="content" style="text-align:justify;">
                            A FE se orgulha de formar graduados criativos e completos, que são cidadãos responsáveis ​​e produtivos e futuros líderes. Ser um desses graduados e ter essas qualidades começa dentro de você, na escola. Recomendamos que você escolham o curso do seu interesse, que deseja ingressar.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <img src="../image/study1.jpg" class="card-img-top rounded-1" alt="...">
                    <div class=" w-100  mt-1 py-2" >
                        <h4 class="mx-1"> Aplicar?</h4>
                        <div class="content" style="text-align:justify;">
                            Para se inscrever na FE, você precisa se certificar de que atende aos requisitos acadêmicos mínimos do curso de sua escolha. Isso inclui ter disciplinas relevantes na escola que o ajudarão a compreender os fundamentos do programa que deseja estudar. Por exemplo, será útil ter ciências e matemática nos cursos.
                        </div>
                    </div>
                </div>
            </div>
                <h4 class="my-2 mx-0 me-auto ms-auto container text-center">Areas de Graduacao</h4>
                <div class="row mx-0 me-auto ms-auto container my-5 ">
                    <div class="col-lg-3 col-sm-12">
                        <img src="../image/Ti.jpg" class="card-img-top rounded-1" alt="...">
                        <div class=" text-light w-100  mt-1 py-2" style="background-color: #2552B7;">
                            <a href="/lei" class="mx-1 nav-link">
                               Licenciatura Em Engenharia Informatica                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <img src="../image/EGeoogica.jpg" class="card-img-top rounded-1" style="height: 170px;" alt="...">
                        <div class=" w-100 text-light mt-1 py-2 bg-secondary" >
                            <a href="/leg" class="mx-1 nav-link"> Licenciatura Em Engenharia Geologica</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <img src="../image/fotos23.png" class="card-img-top rounded-1" alt="...">
                        <div class=" w-100 text-light mt-1 py-2 bg-secondary" >
                            <a href="/lem" class="mx-1 nav-link"> Licenciatura Em Engenharia Mecanica</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <img src="../image/civil.jpg" class="card-img-top rounded-1 " alt="...">
                        <div class=" w-100 text-light mt-1 pt-3 pb-4" style="background-color: #2552B7;">
                            <a href="/lec" class="mx-1 nav-link"> Licenciatura Em Engenharia Civil</a>
                        </div>
                    </div>
                </div>

        </main>

        <footer class=""><%- include('../partials/footer'); %></footer>
        <script type="text/javascript" src="../js/jquery.js"></script>
        <script type="text/javascript" src="../js/bootstrap.js"></script>
        <script type="text/javascript" src="../js/axios.min.js"></script>
        <script type="text/javascript" src="../js/popper.js"></script>
    </body>
</html>