<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Estudante</title>
        <link type="text/css" rel="stylesheet" href="../css/style.css" />
        <link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <section class=""> <%- include('../partials/header1'); %> </section>
            <section class="header02"> <%- include('../partials/header'); %> </section> 
        </header>
        <section> 
            <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../image/study.png" alt="graduacao2017" class="img-fluid d-block" style="width:100%; opacity: .8; ">
                  <div class="carousel-caption  mt-3" style="bottom: 25%;">
                    <span class="text-light " style="font-size: 1.8rem; font-weight: bold;">Estudante</span>
                  </div>
                </div>
            </div>
        </section>
        <main class=" mx-0">
            <div class="row my-3 mx-0 me-auto ms-auto container">
                <div class="col">
                    <div class=" py-2" style="background-color: #F5F3F3; font-size: 1.2rem;"><span class="ms-1">Estudante da Faculdade de Engenharia</span></div>
                </div>
            </div>
            <div class="row mx-0 me-auto ms-auto container my-5 ">
                <div class="col-lg-4 col-sm-12">
                    <div class="  w-100  mt-1 py-2" >
                        <h4 class="mx-1 ">
                           Miss&atilde;o
                        </h4>
                        <div class="content" style="text-align:justify;">
                            Profissionais competentes nas áreas de engenharia, comprometidos com o desenvolvimento da ciência e bem-estar das comunidades locais.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class=" w-100  mt-1 py-2 " >
                        <h4 class="mx-1">Viss&atilde;o</h4>
                        <div class="content" style="text-align:justify;">
                            Referência nacional e internacional nas actividades de ensino, pesquisa e extensão nas áreas de engenharia, formando profissionais com elevada competência, excelência, sentido crítico e empreendedor.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class=" w-100  mt-1 py-2" >
                        <h4 class="mx-1">Valores</h4>
                        <div class="content" style="text-align:justify;">
                            Ética, inovação, qualidade, excelência, capacitação e desenvolvimento humano inclusivo, género, compromisso social e ambiental, cooperação social e comunitária.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-0 me-auto ms-auto container my-5 ">
                <div class="col-lg-4 col-sm-12">
                    <img src="../image/nucleo.png" class="card-img-top rounded-1"  alt="...">
                    <div class="  w-100  mt-1 py-2" >
                        <h4 class="mx-1 ">
                           Nucleo de Estudantes
                        </h4>
                        <div class="content" style="text-align:justify;">
                            A NEFE nao so representa os estudantes, ele tambem oferece apoio e suporte aos Estudantes.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <img src="../image/esira.png" class="card-img-top rounded-1" alt="...">
                    <div class=" w-100  mt-1 py-2 " >
                        <h4 class="mx-1">E-Sira</h4>
                        <div class="content" style="text-align:justify;">
                            Renovar Matricula Lista de Iscricoes Notas do Estudante Pagamento de Taxas.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <img src="../image/matricula.png" class="card-img-top rounded-1" alt="...">
                    <div class=" w-100  mt-1 py-2" >
                        <h4 class="mx-1">Matricula e Inscricoes</h4>
                        <div class="content" style="text-align:justify;">
                            A matricula e inscricao sao feitas apartirdo endereco.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-0 me-auto ms-auto container my-5 ">
                <div class="col-lg-4 col-sm-12">
                    <img src="../image/calendario.jpg" class="card-img-top rounded-1"  alt="...">
                    <div class="  w-100  mt-1 py-2" >
                        <h4 class="mx-1 ">
                           Calendario Academico
                        </h4>
                        <div class="content" style="text-align:justify;">
                            Assede o nosso calendario e fique mais informados sobre o nosso plano. Esse foi projetado para fornecer uma visão geral das atividades e prazo relevantes ao longo do ano letivo... <span class="text-primary">aceder o calendario</span>
                        </div>
                    </div>
                </div>
                </div>
        </main>

        <footer class=""><%- include('../partials/footer'); %></footer>
        <script type="text/javascript" src="../js/jquery.js"></script>
        <script type="text/javascript" src="../js/bootstrap.js"></script>
        <script type="text/javascript" src="../js/axios.min.js"></script>
        <script type="text/javascript" src="../js/popper.js"></script>
    </body>
</html>