<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Historia</title>
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>
    <header>
        <section class=""><%- include('../partials/header1');%> </section>
        <section class="header02"><%- include('../partials/header'); %> </section>
    </header>
    <section> 
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../image/aboutus.png" alt="graduacao2017" class="img-fluid d-block" style="width:100%; ">
             
            </div>
        </div>
    </section>

    <div class="container">
        <section class="jumbotron col-xs-12" style="margin-top: 3%; margin-bottom: 10%; text-align: justify;">
            <h1>Historia</h1>
            <div class="text-justify py-2 px-2"
                style="color:#A5A5A5; width: 40%; background-color: #EAEBEE; margin-bottom: 10px; font-size: 16px;">
                Universidade Lurio/Historia</div>
            <p class="text-justify" style="text-align: justify;"> Faculdade de Engenharia (FE) é uma das cinco Unidades
                Orgânicas da universidade Lúrio, e está sediada na cidade de Pemba, província de Cabo Delgado.

            <p>Foi criada no ano de 2008, altura era denominada Faculdade de Engenharia. Em 2013, através de despacho
                reitoral, foi extinta a FECN e criadas duas faculdades, nomeadamente FE e FCN (Faculdade de Ciências
                Naturais). A FE está vocacionada à formação superior e goza de autonomia científica, pedagógica,
                cultural e de gestão administrativa e financeira, nos termos da legislação aplicável em geral, dos
                estatutos e da regulamentação interna da Universidade Lúrio.</p>

            <p>A FE é a primeira Instituição pública de Ensino Superior a ministrar cursos de Engenharia na região
                Norte de Moçambique. Ela foi criada com o objectivo principal de expandir os cursos de Engenharia para a
                região Norte, proporcionando oportunidade das pessoas residentes nesta região poderem formar-se nas
                áreas de engenharia.</p>
        </section>
    </div>
    <div class="container mt-3 mb-3 ">
        <div class="row">
            <div class=" col-lg-3 col-md-3 col-sm-4 col-xs-12 ">
                <div class="card mb-4 border-0">
                    <img src="../image/primeiro.png" class="" style="height: 180px;" alt="Imagem Card 3">
                    <div class="card-body text-white" style="background-color: #2552B7; text-align: center;">
                        <a href="#" class="card-link text-white"
                            style="text-decoration: none; text-transform: uppercase; text-align: center;"><b>Ismael
                                Chutumia </b></a>
                    </div>
                </div>
            </div>
            <div class=" col-lg-3 col-md-3 col-sm-4 col-xs-12 ">
                <div class="card mb-4 border-0">
                    <img src="../image/elidio.jpg" class="" style="height: 180px;" alt="Imagem Card 3">
                    <div class="card-body text-white" style="background-color: #2552B7; text-align: center;">
                        <a href="#" class="card-link text-white"
                            style="text-decoration: none; text-transform: uppercase; text-align: center;"><b>Elidio da
                                Silva</b></a>
                    </div>
                </div>
            </div>
    
            <div class=" col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="card mb-4 border-0">
                    <img src="../image/fredy1.jpg" class="card-img-top" style="height: 180px;"  alt="Imagem Card 3">
                    <div class="card-body text-white" style="background-color: #2552B7; text-align: center;">
                        <a href="#" class="card-link text-white"
                            style="text-decoration: none; text-transform: uppercase; text-align: center;"><b>Fredy
                                Charles</b></a>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 ">
                <div class="card mb-4 border-0">
                    <img src="../image/directora.jpg" class="card-img-top" style="height: 180px;" alt="Imagem Card 3">
                    <div class="card-body text-white" style="background-color: #2552B7; text-align: center;">
                        <a href="#" class="card-link text-white"
                            style="text-decoration: none; text-transform: uppercase; text-align: center;"><b>Elsa
                                Agostinho</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mb-5 mt-3">
        <h3 class="col-xs-12">As Vozes Falam</h3>
        <div class="row mt-3">
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <video width="420" height="240" controls>
                                <source src="jornada.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <video width="420" height="240" controls>
                                <source src="nizia.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="image-container">
        <img src="../image/estagiario.png" class="imagem" alt="Imagem Africana" style="">
        <div class="overlay1">
            <img src="../image/ulurio.png" alt="Logo" style="max-width: 200px;">
            <h2>Universidade Lurio</h2>
            <h2>Faculdade de Engenharia</h2>
            <h2>Missão e Visão</h2>
            <div class="triangle-down"></div>
        </div>
       
    </div>

    <footer class=" mb-0" ><%- include('../partials/footer'); %></footer>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <script type="text/javascript" src="../js/popper.js"></script>
</body>

</html>