<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Historia</title>
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>
    <header>
        <section class=""><%- include('../partials/header1');%> </section>
        <section class="header02"><%- include('../partials/header'); %> </section>
    </header>
    <section> 
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../image/aboutus.png" alt="graduacao2017" class="img-fluid d-block" style="width:100%; ">
            </div>
        </div>
    </section>

    <main class="mx-0">
        <div class="row my-3 mx-0 me-auto ms-auto container">
            <div class="col">
                <h3 class="text-center">Historia</h3>
                <div class=" py-2" style="background-color: #F5F3F3; font-size: 1.2rem;"><span class="ms-1">Universidade Lurio/Historia</span></div>
                <div class="py-2 paragrafoindex"> 
                    Faculdade de Engenharia (FE) é uma das cinco Unidades Orgânicas da universidade Lúrio, e está sediada na cidade de Pemba, província de Cabo Delgado.
                    Foi criada no ano de 2008, altura era denominada Faculdade de Engenharia. Em 2013, através de despacho
                    reitoral, foi extinta a FECN e criadas duas faculdades, nomeadamente FE e FCN (Faculdade de Ciências
                    Naturais). 

                </div>
            </div>
        </div>
        <div class="row mx-0 me-auto ms-auto container my-5 ">
            <div class="col-lg-3 col-md-6 col-xs-12 col-sm-12">
                <img src="../image/primeiro.png" class="card-img-top rounded-1" alt="...">
                <div class="  w-100  mt-1 py-2" >
                    <h4 class="mx-1 ">
                        Ismael Chutumia 
                    </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 col-sm-12">
                <img src="../image/elidio.jpg" class="card-img-top rounded-1" alt="...">
                <div class="  w-100  mt-1 py-2" >
                    <h4 class="mx-1 ">
                        Elidio da Silva
                    </h4>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12 col-sm-12">
                <img src="../image/fredy1.jpg" class="card-img-top rounded-1" alt="...">
                <div class=" w-100  mt-1 py-2 " >
                    <h4 class="mx-1">
                        Fredy Charles
                    </h4>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 col-sm-12">
                <img src="../image/directora.jpg" class="card-img-top rounded-1" alt="...">
                <div class=" w-100  mt-1 py-2 " >
                    <h4 class="mx-1">
                        Elsa Agostinho
                    </h4>
                </div>
            </div>
        </div>

        <div class="row mx-0 me-auto ms-auto container my-5 ">
            <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 paragrafoindex" >
                A FE está vocacionada à formação superior e goza de autonomia científica, pedagógica, cultural e de gestão administrativa e financeira, nos termos da legislação aplicável em geral, dos estatutos e da regulamentação interna da Universidade Lúrio. A FE é a primeira Instituição pública de Ensino Superior a ministrar cursos de Engenharia na região
                Norte de Moçambique. Ela foi criada com o objectivo principal de expandir os cursos de Engenharia para a
                região Norte, proporcionando oportunidade das pessoas residentes nesta região poderem formar-se nas
                áreas de engenharia.
            </div>
            <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 my-4"><span style="font-size: 1.2em; font-weight: bold;">As Vozes Falam</span></div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="  w-100  mt-1 py-2" >
                    <video style="width: 100%; height: 204px;" controls>
                        <source src="jornada.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="  w-100  mt-1 py-2" >
                    <video style="width: 100%; height: 204px;" controls>
                        <source src="nizia.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    
        <section> 
            <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../image/estagiario.png" alt="graduacao2017" class="img-fluid d-block" style="width:100%; ">
                  <div class="carousel-caption  mt-3 bg-primary " style="bottom: 8%; opacity: .6;">
                    <img src="../image/ulurio.png" alt="Logo" style="max-width: 100%;">
                    <h3>Universidade Lurio</h3>
                    <h3>Faculdade de Engenharia</h3>
                    <h3>Missão e Visão</h3>
                  </div>
                </div>
            </div>
        </section>
    </main>

    <footer class=" mb-0" ><%- include('../partials/footer'); %></footer>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <script type="text/javascript" src="../js/popper.js"></script>
</body>

</html>
