<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Regulamentos</title>
        <link type="text/css" rel="stylesheet" href="../css/style.css" />
        <link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <section class=""> <%- include('../partials/header1'); %> </section>
            <section class="header02"> <%- include('../partials/header'); %> </section> 
        </header>
        <section> 
            <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../image/investigacao3.png" alt="graduacao2017" class="img-fluid d-block" style="width:100%;  ">
              
                  </div>
                </div>
            </div>
        </section>
        <main class=" mx-0">
            <div class="row mx-0 me-auto ms-auto container">
                <div class="col">
                    <h3 class="text-center my-3">Investiga&ccedil;&atilde;o</h3>
                    <p style="text-align: justify;">A Faculdade de Engenharia da Universidade Lurio &eacute; erguido de regulamentos que permite estabelecer os
                    os principios e normas que regem os processos pedagogicos de ensino e aprendizagem inseridos na missao da 
                    formaccao superior na Universidade Lurio. Este regulamento aplica-se aos cursos superiores oferecidos pela Universidade Lurio
                    para obtencao do grau academico de licenciatura. As condicoes de acesso e outros requisitos para ingressar na Unilurio Faculdade de
                    Engenharia  constam na legislacao em vigor na Republica de Mocambique e a informacao divulgada nos editais que anuciam os cursos e exames de admissao. </p>
                </div>
            </div>
            <div class="mx-0 py-4 " style="background-color: #F5F3F3;">
                
                <div class="row mx-0 me-auto ms-auto container ">
                    <div class="col-lg-4 col-sm-12">
                        <img src="../image/reg2.jpg" class="card-img-top " alt="...">
                        <div class="bg-dark w-100 text-secondary mt-1 py-2" >
                            <span class="mx-1 ">
                                Revistas Cientificas
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <img src="../image/trabalhoc.jpg" class="card-img-top " alt="...">
                        <div class=" w-100 text-light mt-1 py-2" style="background-color: #2552B7;">
                            <span class="mx-1">Trabalhos Cientificos</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <img src="../image/actividade.jpg" class="card-img-top " alt="...">
                        <div class=" w-100 text-light mt-1 py-2" style="background-color: #2552B7;">
                            <span class="mx-1">Actividades de Extensao</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="mx-0 py-4 " style="background-color: #F5F3F3;" id="revista">
                <h4 class="my-2 mx-0 me-auto ms-auto container text-center">Revistas Cientificas</h4>
                <div class="row mx-0 me-auto ms-auto container ">
                    <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
                        <div class="carousel-indicators top-100">
                          <button type="button"  data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active bg-dark" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button"  data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="bg-dark" aria-label="Slide 2"></button>
                          <button type="button"  data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="bg-dark" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <!-- <img src="../image/reg1.jpg" class="d-block w-100" alt="..."> -->
                            <div class="row  border-0 " >
                       
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                  <div>
                                    <img src="../image/revista1.png" class="card-img-top" alt="..." width="80" height="250" >
                                  </div>
                                  <div class="py-2 my-1 text-light  " style="background-color: #2552B7;"><a class="nav-link mx-1"><div class="">Rev: Science Class</div></a></div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                  <div>
                                    <img src="../image/revista5.jpg" class="card-img-top " alt="..." width="80" height="250">
                                  </div>
                                  <div class="py-2 my-1  text-light" style="background-color: #606263;"><a class="nav-link mx-1"><div class="">Rev: Ciencias Empresariais</div></a></div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                  <div>
                                    <img src="../image/revista3.jpg" class="card-img-top " alt="..." width="80" height="250">
                                  </div>
                                  <div class="py-2 my-1  text-light" style="background-color: #2552B7;"><a class="nav-link mx-1"><div class="">Rev: Argola do N&oacute; </div></a></div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                  <div>
                                    <img src="../image/revista2.png" class="card-img-top " alt="..." width="80" height="250">
                                  </div>
                                  <div class="py-2 my-1  text-light" style="background-color: #606263;"><a class="nav-link mx-1"><div class="">Rev: Science Event</div></a></div>
                                </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                            <div class="row  border-0 " >
                       
                              <div class="col-lg-3 col-md-6 col-sm-12">
                                <div>
                                  <img src="../image/revista1.png" class="card-img-top" alt="..." width="80" height="250" >
                                </div>
                                <div class="py-2 my-1 text-light  " style="background-color: #2552B7;"><a class="nav-link mx-1"><div class="">Rev: Science Class</div></a></div>
                              </div>
                              <div class="col-lg-3 col-md-6 col-sm-12">
                                <div>
                                  <img src="../image/revista5.jpg" class="card-img-top " alt="..." width="80" height="250">
                                </div>
                                <div class="py-2 my-1  text-light" style="background-color: #606263;"><a class="nav-link mx-1"><div class="">Rev: Ciencias Empresariais</div></a></div>
                              </div>
                              <div class="col-lg-3 col-md-6 col-sm-12">
                                <div>
                                  <img src="../image/revista3.jpg" class="card-img-top " alt="..." width="80" height="250">
                                </div>
                                <div class="py-2 my-1  text-light" style="background-color: #2552B7;"><a class="nav-link mx-1"><div class="">Rev: Argola do N&oacute; </div></a></div>
                              </div>
                              <div class="col-lg-3 col-md-6 col-sm-12">
                                <div>
                                  <img src="../image/revista2.png" class="card-img-top " alt="..." width="80" height="250">
                                </div>
                                <div class="py-2 my-1  text-light" style="background-color: #606263;"><a class="nav-link mx-1"><div class="">Rev: Science Event</div></a></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
            </div>
            <div class="mx-0 py-4 " style="background-color: #F5F3F3;" id="trabalhoc">
                <h4 class="my-2 mx-0 me-auto ms-auto container text-center">Trabalhos Cientificos</h4>
                <div class="row mx-0 me-auto ms-auto container ">
                    <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
                        <div class="carousel-indicators top-100">
                          <button type="button"  data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active bg-dark" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button"  data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="bg-dark" aria-label="Slide 2"></button>
                          <button type="button"  data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="bg-dark" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <!-- <img src="../image/reg1.jpg" class="d-block w-100" alt="..."> -->
                            <div class="row  border-0 " >
                       
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                  <div>
                                    <img src="../image/fotoa63.jpg" class="card-img-top" alt="...">
                                  </div>
                                  <div class="py-2 my-1 text-light  " style="background-color: #2552B7;"><a class="nav-link mx-1"><div class="">Pesquisa 1: IA</div></a></div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                  <div>
                                    <img src="../image/foto53.jpg" class="card-img-top " alt="...">
                                  </div>
                                  <div class="py-2 my-1  text-light" style="background-color: #606263;"><a class="nav-link mx-1"><div class="">Pesquisa 2: Hidraulica</div></a></div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                  <div>
                                    <img src="../image/fotos23.png" class="card-img-top " alt="...">
                                  </div>
                                  <div class="py-2 my-1  text-light" style="background-color: #2552B7;"><a class="nav-link mx-1"><div class="">Pesquisa 3: Motor </div></a></div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                  <div>
                                    <img src="../image/foto43.png" class="card-img-top " alt="...">
                                  </div>
                                  <div class="py-2 my-1  text-light" style="background-color: #606263;"><a class="nav-link mx-1"><div class="">Pesquisa 4: Geotecnia</div></a></div>
                                </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                            <div class="row  border-0 " >
                       
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                  <div>
                                    <img src="../image/fotoa63.jpg" class="card-img-top" alt="...">
                                  </div>
                                  <div class="py-2 my-1 text-light  " style="background-color: #2552B7;"><a class="nav-link mx-1"><div class="">Pesquisa 1: IA</div></a></div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                  <div>
                                    <img src="../image/foto53.jpg" class="card-img-top " alt="...">
                                  </div>
                                  <div class="py-2 my-1  text-light" style="background-color: #606263;"><a class="nav-link mx-1"><div class="">Pesquisa 2: Hidraulica</div></a></div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                  <div>
                                    <img src="../image/fotos23.png" class="card-img-top " alt="...">
                                  </div>
                                  <div class="py-2 my-1  text-light" style="background-color: #2552B7;"><a class="nav-link mx-1"><div class="">Pesquisa 3: Motor </div></a></div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                  <div>
                                    <img src="../image/foto43.png" class="card-img-top " alt="...">
                                  </div>
                                  <div class="py-2 my-1  text-light" style="background-color: #606263;"><a class="nav-link mx-1"><div class="">Pesquisa 4: Geotecnia</div></a></div>
                                </div>
                              </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
            </div>
            <div class="mx-0 py-4 " style="background-color: #F5F3F3;" id="actividadex">
                <h4 class="my-2 mx-0 me-auto ms-auto container text-center">Actividades de Extensao</h4>
                <div class="row mx-0 me-auto ms-auto container ">
                    <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
                        <div class="carousel-indicators top-100">
                          <button type="button"  data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active bg-dark" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button"  data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="bg-dark" aria-label="Slide 2"></button>
                          <button type="button"  data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="bg-dark" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <!-- <img src="../image/reg1.jpg" class="d-block w-100" alt="..."> -->
                            <div class="row  border-0 " >
                       
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                  <div>
                                    <img src="../image/fotoa63.jpg" class="card-img-top" alt="...">
                                  </div>
                                  <div class="py-2 my-1 text-light  " style="background-color: #2552B7;"><a class="nav-link mx-1"><div class="">Pesquisa 1: IA</div></a></div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                  <div>
                                    <img src="../image/foto53.jpg" class="card-img-top " alt="...">
                                  </div>
                                  <div class="py-2 my-1  text-light" style="background-color: #606263;"><a class="nav-link mx-1"><div class="">Pesquisa 2: Hidraulica</div></a></div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                  <div>
                                    <img src="../image/fotos23.png" class="card-img-top " alt="...">
                                  </div>
                                  <div class="py-2 my-1  text-light" style="background-color: #2552B7;"><a class="nav-link mx-1"><div class="">Pesquisa 3: Motor </div></a></div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                  <div>
                                    <img src="../image/foto43.png" class="card-img-top " alt="...">
                                  </div>
                                  <div class="py-2 my-1  text-light" style="background-color: #606263;"><a class="nav-link mx-1"><div class="">Pesquisa 4: Geotecnia</div></a></div>
                                </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                            <div class="row  border-0 " >
                       
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                  <div>
                                    <img src="../image/fotoa63.jpg" class="card-img-top" alt="...">
                                  </div>
                                  <div class="py-2 my-1 text-light  " style="background-color: #2552B7;"><a class="nav-link mx-1"><div class="">Pesquisa 1: IA</div></a></div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                  <div>
                                    <img src="../image/foto53.jpg" class="card-img-top " alt="...">
                                  </div>
                                  <div class="py-2 my-1  text-light" style="background-color: #606263;"><a class="nav-link mx-1"><div class="">Pesquisa 2: Hidraulica</div></a></div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                  <div>
                                    <img src="../image/fotos23.png" class="card-img-top " alt="...">
                                  </div>
                                  <div class="py-2 my-1  text-light" style="background-color: #2552B7;"><a class="nav-link mx-1"><div class="">Pesquisa 3: Motor </div></a></div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                  <div>
                                    <img src="../image/foto43.png" class="card-img-top " alt="...">
                                  </div>
                                  <div class="py-2 my-1  text-light" style="background-color: #606263;"><a class="nav-link mx-1"><div class="">Pesquisa 4: Geotecnia</div></a></div>
                                </div>
                              </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
            </div>
          
        </main>
        <footer class=""><%- include('../partials/footer'); %></footer>
        <script type="text/javascript" src="../js/jquery.js"></script>
        <script type="text/javascript" src="../js/bootstrap.js"></script>
        <script type="text/javascript" src="../js/axios.min.js"></script>
        <script type="text/javascript" src="../js/popper.js"></script>
       
    </body>
</html>
