<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia</title>
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>
    <header>
        <section class="">
            <%- include('../partials/header1');%>
        </section>
        <section class="header02">
            <%- include('../partials/header'); %>
        </section>
    </header>
    <section> 
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../image/study.png" alt="graduacao2017" class="img-fluid d-block" style="width:100%; opacity: .8; ">
              <div class="carousel-caption  mt-3" style="bottom: 5%;">
                <span class="text-light " style="font-size: 1.8rem; font-weight: bold;">LICENCIATURA EM ENGENHARIA CIVIL</span>
              </div>
            </div>
        </div>
    </section>
        <main class="container mt-4">
            <div class="row my-3 mx-0">
                <div class="col">
                    <div class=" py-2" style="background-color: #F5F3F3; font-size: 1.2rem;"><span class="ms-1">Faculdade de Engenharia</span></div>
                </div>
            </div>
            <div class="row mx-0">
                <div class="col-md-12">
                    <div class="card mb-4 mt-4 py-3 px-3 border-0 shadow-sm" style="text-align: justify;">
                        <div class="card-body">
                            <h4 class="card-title"style="background-color: #3498db; color: #fff; padding: 10px;">ENQUADRAMENTO DO CURSO</h4>
                            O curso de Licenciatura em Engenharia Civil está estruturado de modo a fornecer uma formação geral de largo espectro, que permita ao graduado exercer a sua atividade nas diversas áreas de Engenharia Civil, desde a geotecnia, projeto estrutural até a gestão, passando pelas obras hidráulicas, construção e reabilitação, e gestão e direção de empreendimentos.
                            O curso está organizado em nove semestres. O primeiro ano é constituído por unidades curriculares de ciências básicas, umas em que se reforça e amplia as competências já adquiridas, nomeadamente as relacionadas com as áreas de matemática, física, informática e química, envolvendo em cada semestre uma disciplina específica do curso.
                            Com as unidades curriculares do segundo ano, serão fornecidas um conjunto de competências básicas no domínio da engenharia civil e de "transição" para as denominadas disciplinas de especialidade que constituem o terceiro e quarto anos de escolaridade. O plano curricular contempla unidades curriculares de competências transversais, importantes para o desenvolvimento humano e pessoal do formando. No último semestre, a conclusão do curso requer a realização de um Trabalho de Conclusão do Curso (TCC), essencial para a obtenção do título de Engenheiro Civil e que assume uma das três possíveis formas: Monografia, Projeto de Investigação e Inovação ou Estágio Profissional.
                        </div>
                    </div>
                </div>
            </div>            
            <div class="row mx-0">
                <div class="col-md-12">
                    <div class="card mb-4 mt-4 border-0 py-3 px-3 shadow-sm" style="text-align:justify;">
                        <div class="card-body">
                            <h4 class="card-title"style="background-color: #3498db; color: #fff; padding: 10px;">OBJECTIVOS</h4>
                            Os licenciados em Engenharia Civil da FE-UniLúrio deverão ter adquirido competências e conhecimentos gerais de engenharia e conhecimentos de natureza técnico-científica, em áreas específicas da Engenharia Civil. Neste contexto, entende-se como objetivos da LEC:
                            <ul class="list-group">
                                <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Dotar os alunos de uma sólida formação em matemática, física, informática, geologia e em ciências de engenharia, tais como, resistência dos materiais, mecânica dos solos, materiais de construção, hidráulica e estruturas, contemplando também formação básica em gestão e planeamento;</li>
                                <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Promover uma formação de nível elevado e especializado nos mais diversos domínios da construção;</li>
                                <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Garantir aos diplomados a habilitação para o desempenho de funções em gabinetes de projeto, em empresas de construção e de obras públicas, em serviços de administração central e local, na concepção, inovação e execução de projetos de vias de comunicação, de geotecnia, de estruturas, de obras hidráulicas, de planeamento, de grandes e pequenas obras, de recuperação e reabilitação do patrimônio edificado, da reciclagem de materiais de construção e de gestão de empreendimentos.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-0">
                <div class="col-md-12">
                    <div class="card mb-4 mt-4 border-0 py-3 px-3 shadow-sm" style=" text-align:justify; ">
                        <div class="card-body">
                            <h4 class="card-title" style="background-color: #3498db; color: #fff; padding: 10px;">SAÍDAS PROFISSIONAIS</h4>
                            As saídas profissionais dos Licenciados em Engenharia Civil da FE-UniLúrio cobrem um vasto leque de atividades, permitindo o acesso a diversas áreas de especialização, tais como:</h5>
                            <ul class="list-group">
                                <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Engenharia de Estruturas;</li>
                                <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Geotecnia;</li>
                                <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Engenharia de transporte e Obras de Arte;</li>
                                <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Obras Hidráulica;</li>
                                <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Concepção e Gestão de Projetos;</li>
                                <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Topografia;</li>
                                <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Materiais de Construção e controle de qualidade;</li>
                                <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Construção de Edifícios;</li>
                                <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Entre outras.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-0">
                <div class="col-md-12">
                    <div class="card mb-4 mt-4 py-3 px-3 border-0 shadow-sm" style=" text-align:justify; color: #2e2e2e;">
                        <div class="card-body">
                            <h4 class="card-title"style="background-color: #3498db; color: #fff; padding: 10px;">PERFIL OCUPACIONAL</h4>
                            A Licenciatura Engenharia Civil confere várias saídas profissionais para um mercado de trabalho em fase de expansão, permitindo o desempenho de funções, em gabinetes de projeto, em serviços da Administração Central e Local ou em execução de empreendimentos, em empresas de construção civil e de obras públicas, em áreas ocupacionais diversas.</h5>
                            <ul class="list-group">
                                <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Fiscalização de obras;</li>
                                <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Consultoria em diversas áreas afins;</li>
                                <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Gestão e direção de projetos;</li>
                                <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Serviços de laboratório de engenharia;</li>
                                <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Execução de empreendimentos;</li>
                                <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Oficial de segurança no trabalho da construção;</li>
                                <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Gestão de estaleiros de obra.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    <footer class=""><%- include('../partials/footer'); %></footer>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <script type="text/javascript" src="../js/popper.js"></script>
</body>

</html>