<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia</title>
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>
    <header>
        <section class="py-3 header01">
            <%- include('../partials/header1');%>
        </section>
        <section class="header02">
            <%- include('../partials/header'); %>
        </section>
    </header>
    <section> 
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../image/study.png" alt="graduacao2017" class="img-fluid d-block" style="width:100%; opacity: .8; ">
              <div class="carousel-caption  mt-3" style="bottom: 5%;">
                <span class="text-light " style="font-size: 1.8rem; font-weight: bold;">LICENCIATURA EM ENGENHARIA GEOLOGICA</span>
              </div>
            </div>
        </div>
    </section>
    <main class="container mt-4">
        <div class="row my-3 mx-0">
            <div class="col">
                <div class=" py-2" style="background-color: #F5F3F3; font-size: 1.2rem;"><span class="ms-1">Faculdade de Engenharia</span></div>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col-md-12">
                <div class="card mb-4 mt-4 py-3 px-3 border-0 shadow-sm" style=" text-align: justify; ">
                    <div class="card-body">
                        <h4 class="card-title"style="background-color: #3498db; color: #fff; padding: 10px;">ENQUADRAMENTO DO CURSO</h4>
                        <i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> A Engenharia Geológica é uma especialidade de Engenharia que aplica princípios, conceitos e técnicas das Ciências Geológicas na resolução de problemas de engenharia que envolvem a Terra e o seu funcionamento como um sistema geodinâmico.</h5>
                        <p><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i>A pesquisa e exploração dos recursos minerais, as questões associadas a adequado planeamento regional e urbano e à resolução de problemas ambientais decorrentes da mineração, são algumas das atividades essenciais do Engenheiro Geólogo.</p>
                        <p><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i>O curso de Licenciatura em Engenharia Geológica na FE-UniLúrio, tem por objetivo preparar profissionais com sólida formação de base nas áreas das Geociências e das Ciências de Engenharia que, com o domínio de matérias da Matemática, Física e Química, possam estar aptos a trabalhar em variados domínios de prospecção e pesquisa mineral e de recursos hídricos, exploração, processamento e/ou beneficiamento mineral, pesquisa e exploração de hidrocarbonetos.</p>
                        <p><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i>O curso tem a duração de nove semestres, dos quais oito são reservados a disciplinas curriculares lecionados na sala de aulas e um reservado ao trabalho de culminação do curso. O graduado ser-lhe-á conferido o título de Licenciado em Engenharia Geológica.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mx-0">
            <div class="col-md-12">
                <div class="card mb-4 mt-4 py-3 px-3 border-0 shadow-sm" style="text-align: justify;">
                    <div class="card-body">
                        <h4 class="card-title"style="background-color: #3498db; color: #fff; padding: 10px;">OBJECTIVOS</h4>
                        Os licenciados em Engenharia Geológica (LEG) da FE-UniLúrio devem adquirir competências e conhecimentos gerais de engenharia e conhecimentos de natureza técnico-científica, em áreas específicas das Geociências.</h5>
                        <ul class="list-group">
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Elaborar plano de prospecção e pesquisa mineral e de recursos hídricos;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Ter capacidade de realizar trabalhos de prospecção e pesquisa mineral e de recursos hídricos;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Propor método de processamento mineral;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Fazer estudos técnicos de classificação de solos;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Prever impactos ambientais dos projetos de atividades mineira nas diferentes fases da implementação do projeto;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Propor medidas de mitigação dos impactos ambientais negativos;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Ter noções de análise técnica e econômica de projetos;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Ter noções de empreendedorismo e desenvolvimento comunitário.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mx-0">
            <div class="col-md-12">
                <div class="card mb-4 mt-4 py-3 px-3 border-0 shadow-sm" style="text-align: justify; ">
                    <h4 class="card-title"style="background-color: #3498db; color: #fff; padding: 10px;">SAÍDAS PROFISSIONAIS</h4>
                        As grandes áreas de intervenção dos licenciados em Engenharia Geológica estão relacionadas com a construção civil e obras públicas e a pesquisa e exploração de recursos naturais. Abrange campos de atuação, que estabelecem ligação não só entre outras especialidades de Engenharia (civil, de minas e do ambiente), como entre a engenharia e a geologia.</h5>
                        <p>A Licenciatura em Engenharia Geológica da FE-UniLúrio fornece assim uma formação abrangente que permite o acesso a áreas de especialização a desenvolver ao nível do Mestrado, com saídas profissionais, entre outras, para:</p>
                        <ul class="list-group">
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Prospecção e pesquisa mineral e de recursos hídricos</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Prospecção Geofísica;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Prospecção e pesquisa de hidrocarbonetos;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Exploração Mineral;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Geotecnia.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mx-0">
            <div class="col-md-12">
                <div class="card mb-4 mt-4 py-3 px-3 border-0 shadow-sm" style=" text-align: justify; ">
                    <div class="card-body">
                        <h4 class="card-title"style="background-color: #3498db; color: #fff; padding: 10px;">PERFIL OCUPACIONAL</h4>
                    
                        <ul class="list-group">
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Geólogo de pesquisa;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Geólogo de Produção;</li>
                            <li class="list-group-item  border-0" ><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Geólogo da Mina;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Controlador de Qualidade;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Coordenador de Projeto.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>          
    </main>
    <footer class=""><%- include('../partials/footer'); %></footer>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <script type="text/javascript" src="../js/popper.js"></script>
</body>

</html>