<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Historia</title>
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>
    <header>
        <section class="">
            <%- include('../partials/header1');%>
        </section>
        <section class="header02">
            <%- include('../partials/header'); %>
        </section>
    </header>
    <section> 
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../image/study.png" alt="graduacao2017" class="img-fluid d-block" style="width:100%; opacity: .8; ">
              <div class="carousel-caption  mt-3" style="bottom: 5%;">
                <span class="text-light " style="font-size: 1.8rem; font-weight: bold;">LICENCIATURA EM ENGENHARIA INFORMATICA</span>
              </div>
            </div>
        </div>
    </section>
    <main class=" mx-0">
        <div class="row my-3 mx-0">
            <div class="col">
                <div class=" py-2" style="background-color: #F5F3F3; font-size: 1.2rem;"><span class="ms-1">Faculdade de Engenharia</span></div>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col-md-6">
                <div class="card mb-4 mt-4 border-0 shadow-sm" style=" ">
                    <div class="card-body">
                        <h4 class="card-title"style="background-color: #3498db; color: #fff; padding: 10px;">ENQUADRAMENTO DO CURSO</h4>
                        <p class="card-text" style="text-align: justify;">O Departamento de Engenharia Informática, faz parte da Faculdade de Engenharia (FE), que está sediada na cidade de Pemba, Província de Cabo Delgado. Tem como Competências No final da Licenciatura em Engenharia Informática (LEI), os estudantes poderão entrar no mercado de trabalho, embora não lhes esteja associada nenhuma área de especialização específica, estarão em condições de desenvolver atividades de Engenharia na indústria, e-sistafe, govnet, empresas informáticas relativamente nas áreas de:</p>
                        <ul class="list-group">
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Análise, desenvolvimento e manutenção de software;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Análise, implementação e administração de sistemas de base de dados;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Análise, implementação e administração de redes informáticas de pequena, média e grande dimensão.</li>
                        </ul>
                    </div>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="card  mt-4 border-0 shadow-sm " style="padding-bottom: 9%;">
                    <div class="card-body">
                        <h4 class="card-title"style="background-color: #3498db; color: #fff; padding: 10px;">SAÍDAS PROFISSIONAIS</h4>
                        <p class="card-text" style="text-align: justify;">Os licenciados neste curso poderão enquadrar-se profissionalmente no setor público ou no setor privado, assim como desenvolver a sua atividade profissional de forma liberal. Eis aqui algumas possibilidades:</p>
                        <ul class="list-group">
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Consultor de Informática;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Administrador de Bases de Dados;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Analista de sistemas de informação;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Administrador de Sistemas Informáticos;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Desenvolvedor de sistemas Informáticos;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Administrador de sistemas e redes de computadores.</li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
    </main>
    <footer class=""><%- include('../partials/footer'); %></footer>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <script type="text/javascript" src="../js/popper.js"></script>
</body>

</html>