<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia</title>
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>
    <header>
        <section class="py-3 header01">
            <%- include('../partials/header1');%>
        </section>
        <section class="header02">
            <%- include('../partials/header'); %>
        </section>
    </header>
    <section> 
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../image/study.png" alt="graduacao2017" class="img-fluid d-block" style="width:100%; opacity: .8; ">
              <div class="carousel-caption  mt-3" style="bottom: 5%;">
                <span class="text-light " style="font-size: 1.8rem; font-weight: bold;">LICENCIATURA EM ENGENHARIA MECANCA</span>
              </div>
            </div>
        </div>
    </section>
    <main class="container mt-4">
        <div class="row my-3 mx-0">
            <div class="col">
                <div class=" py-2" style="background-color: #F5F3F3; font-size: 1.2rem;"><span class="ms-1">Faculdade de Engenharia</span></div>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col-md-12">
                <div class="card mb-4 mt-4 py-3 px-3 border-0 shadow-sm" style=" text-align: justify;">
                    <h4 class="card-title" style="background-color: #3498db; color: #fff; padding: 10px;">ENQUADRAMENTO DO CURSO</h4>
                    A Engenharia Mecânica orienta os estudantes, por uma filosofia de actuação, com vista a
                    desenvolver habilidades
                    na produção de conhecimento, de desenvolvimento científico e tecnológico em Moçambique. A
                    Engenharia Mecânica,
                    procura estimular um desenvolvimento harmonioso das actividades que integram os processos do
                    ensino superior
                    da formação, pesquisa e extensão. Para além disso, aposta em formar estudantes
                    empreendedores e autónomos,
                    capazes de se empenharem no crescimento económico, desenvolvimento humano e sustentável do
                    país.
                    <p>A Engenharia Mecânica é um ramo da engenharia ligado a processos industriais em que
                        diferentes matérias-
                        primas são transformadas em produtos finais. A Engenharia Mecânica é também responsável
                        pela projecção,
                        construção e operação de instalações fabrís destinadas à fabricação de produtos, bem
                        como ao desenvolvimento
                        de novos processos.</p>

                    <p >O curso de Engenharia Mecânica na UniLúrio, abrange um vasto campo, com vista que os
                        graduados deste
                        curso, sejam profissionais polivalentes, diversificados e complementares, englobando
                        assim as seguintes
                        áreas: Mecânica Auto, Mecânica Industrial, Automação e Controlo de Processos de
                        Fabricação, Desenho de
                        Construcoes Mecânicas, Projecto Mecânico, Energias Renováveis, Refrigeração e
                        Climatização, Manutenção de
                        Máquinas, Projectos de Redes de Fluidos e Sistemas Hidráulicos. Este curso tem a duração
                        de nove semestres,
                        incluíndo o trabalho de final do curso. Ao formando que cumprir com os requisitos de
                        graduação do curso
                        ter aprovado todas disciplinas do curso, ser-lhe-á conferido o título de Licenciado em
                        Engenharia Mecânica.
                    </p>
                </div>
            </div>
        </div>

        <div class="row mx-0">
            <div class="col-md-12">
                <div class="card mb-4 mt-4 py-3 px-3 border-0 shadow-sm " style=" text-align: justify;">
                    <div class="card-body">
                        <h4 class="card-title" style="background-color: #3498db; color: #fff; padding: 10px;">OBJECTIVOS</h4>
                        Os licenciados em Engenharia Mecânica da FE-UniLúrio devem adquirir competências e
                        conhecimentos gerais
                        de engenharia e conhecimentos de natureza técnico-científica, em áreas específicas da
                        Engenharia Mecânica.
                        Neste contexto, objectivos da LEM cingem- se a:
                        <ul class="list-group">
                        <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Compreensão, noção experimental e capacidade de modelação dos fenómenos Mecânicos;</li>
                        <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Compreensão dos conceitos fundamentais de processos e sistemas industriais;</li>
                        <li class="list-group-item  border-0"> <i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Compreensão e capacidade de aplicar e desenvolver as técnicas fundamentais de automação
                            industrial; </li>
                        <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Compreensão do conceito de desenvolvimento sustentável, e a sua implicação nas áreas de
                            intervenção da Engenharia Mecânica;</li>
                        <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Desenhar e interpretar projectos ligados a Engenharia Mecânica.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mx-0">
            <div class="col-md-12">
                <div class="card mb-4 mt-4 py-3 px-3 border-0 shadow-sm" style=" text-align: justify; ">
                    <div class="card-body">
                        <h4 class="card-title" style="background-color: #3498db; color: #fff; padding: 10px;">SAÍDAS PROFISSIONAIS</h4>
                        As saídas profissionais dos Licenciados em Engenharia Mecânica da FE-UniLúrio cobrem um
                            vasto leque de
                            actividades económicas, desde empresas transformadoras, passando por empresas de
                            serviços.
                            <p>A Licenciatura em Engenharia Mecânica da FE-UniLúrio fornece assim uma formação
                                abrangente que permite
                                o acesso as áreas de especialidades, com saídas profissionais, Seguintes:</p>
                            <ul class="list-group">
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Engenharia de Manutenção;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Projecto Mecânico(estudo dos componentes de orgaos mecanicos);</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Automação Industrial;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Construções Metálicas.</li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mx-0">
            <div class="col-md-12">
                <div class="card mb-4 mt-4 py-3 px-3 border-0 shadow-sm" style=" text-align: justify; ">
                    <div class="card-body">
                        <h4 class="card-title" style="background-color: #3498db; color: #fff; padding: 10px;">PERFIL OCUPACIONAL</h4>
                        
                        <ul class="list-group">
                            <li class="list-group-item  border-0"> <i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Manutenção na Indústria transformadora;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Projecto e fabrico de ferramentas e equipamentos;</li>
                            <li class="list-group-item  border-0"> <i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i>Projecto e fabrico de ferramentas e equipamentos;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Elaborar e analisar Projecto de fabricação e construção de Estruturas Metálicas;
                            </li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Elaborar e analisar Projecto de instalação e manutenção de equipamentos em
                                unidades industriais;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Elaborar e analisar Projecto de instalação e manutenção de unidades de
                                tratamento de efluentes e resíduos;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Manutenção Indústria Automóvel;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Projecto de Comportamento Térmico de Instalações;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Manuseamento de Máquinas e Ferramentas;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Desenvolver actividades de ensino e investigação;</li>
                            <li class="list-group-item  border-0"><i class="fas fa-check-square text-primary me-2" aria-hidden="true"></i> Gestor de Controlo de Qualidade.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class=""><%- include('../partials/footer'); %></footer>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <script type="text/javascript" src="../js/popper.js"></script>
</body>

</html>