<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orgaos Colegiais</title>
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>
    <header>
        <section class="">
            <%- include('../partials/header1');%>
        </section>
        <section class="header02">
            <%- include('../partials/header'); %>
        </section>
    </header>
    <section> 
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../image/orgpaper.png" alt="graduacao2017" class="img-fluid d-block" style="width:100%; height: 420px; opacity: .8; ">
              </div>
            </div>
        </div>
    </section>
    <main>
    <div class="container mt-4 mb-4">
        <div class="row my-3 mx-0 me-auto ms-auto">
            <div class="col">
                <h3 class="text-center">Orgaos Colegiais</h3>
                <div class=" py-2" style="background-color: #F5F3F3; font-size: 1.2rem;"><span class="ms-1">Sobre-Nos/Orgaos Colegiais</span></div>
            </div>
        </div>
                
        <div class="row mx-0">
            <div class="col-md-6">
                <div class="card mb-4 border-0">
                        <img src="../image/cfaculdade.jpg" style="width: 100%;" alt="Imagem Card 1">
                    <div class="card-body text-justify " style="background-color: #fbfcfd;">
                        <a href="#" class="card-link " style="text-decoration: none; text-transform: uppercase; text-align: justify;"><b>Conselho da Faculdade
                        </b></a>
                        <br>
                     <p class="">   O Conselho da Faculdade é um órgão de gestão que geralmente é responsável por tomar decisões relacionadas à administração e funcionamento geral de uma faculdade ou unidade acadêmica dentro de uma instituição de ensino superior.
                        Suas responsabilidades podem incluir a definição de políticas internas, orçamento, contratação e promoção de pessoal docente e administrativo, bem como a supervisão de programas acadêmicos e atividades extracurriculares específicas da faculdade.
                      
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 border-0">
                        <img src="../image/cdireccao.jpg" style="width: 100%; height: 10%;" alt="Imagem Card 2">
                    <div class="card-body text-justify" style="background-color: #fbfcfd; text-align:justify;">
                        <a href="#" class="card-link" style="text-decoration: none; text-transform: uppercase; text-align: justify;"><b>Conselho de Direção</b></a>
                        <br>
                        O Conselho de Direção é um órgão de alto nível que normalmente está envolvido na tomada de decisões estratégicas e políticas em toda a instituição de ensino superior, como uma universidade ou faculdade.
                        Suas responsabilidades podem incluir a definição de metas institucionais, aprovação de orçamento e planejamento estratégico, contratação e supervisão do presidente ou reitor da instituição, e tomada de decisões importantes que afetam a direção geral da instituição.
                         
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 border-0">
                        <img src="../image/passistente.jpg" style="width: 100%; height: 100%;" alt="Imagem Card 3">
                    <div class="card-body text-justify" style="background-color: #fbfcfd; text-align: justify;">
                        <a href="#" class="card-link" style="text-decoration: none; text-transform: uppercase; text-align: center;"><b>Conselho Pedagógico</b></a>
                        <br>
                        O Conselho Pedagógico é um órgão acadêmico que se concentra principalmente em questões relacionadas ao ensino e à aprendizagem dentro da instituição.
                        Suas responsabilidades incluem o desenvolvimento e revisão de programas acadêmicos, currículos, políticas de avaliação de alunos, diretrizes pedagógicas e recomendações para melhorias na qualidade do ensino.<br><br><br>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 border-0">
                        <img src="../image/pesquisa2.png" style="width: 100%; height: 210px;" alt="Imagem Card 4">
                    <div class="card-body  text-justify" style="background-color: #fbfcfd; text-align: justify;">
                        <a href="#" class="card-link" style="text-decoration: none; text-transform: uppercase; text-align: center;"><b>Conselho Científico</b></a>
                        <br>
                        O Conselho Científico, também conhecido como Conselho de Pesquisa ou Conselho de Pós-Graduação em algumas instituições, é responsável por orientar e supervisionar as atividades de pesquisa na instituição.
                        Suas responsabilidades incluem a avaliação de projetos de pesquisa propostos, alocação de recursos para pesquisa, promoção de colaborações entre pesquisadores e a revisão de políticas de pesquisa e ética.
                        O Conselho Científico desempenha um papel fundamental na promoção da pesquisa de alta qualidade e na contribuição para o avanço do conhecimento em diversas áreas acadêmicas.              
                    </div>
                </div>
            </div>
        </div>
    </div>   
</main>           
    
    <footer class="mb-0" ><%- include('../partials/footer'); %></footer>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <script type="text/javascript" src="../js/popper.js"></script>
</body>

</html>