<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Missão,visão e valores</title>
        <link type="text/css" rel="stylesheet" href="../css/style.css" />
        <link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
        <link rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
            integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
            crossorigin="anonymous">
    </head>

    <body>
        <header>
            <section class><%- include('../partials/header1');%> </section>
            <section class="header02"><%- include('../partials/header'); %>
            </section>
        </header>
        <section class="mx-0">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../image/missao.png" alt="graduacao2017"
                        class="img-fluid d-block"
                        style="width:100%; height: 400px; opacity: .8; ">
                    
                </div>
            </div>
        </section>
        <main class="mx-0">
            <div class="row my-3 mx-0 me-auto ms-auto container">
                <div class="col">
                    <h4 class="text-center">Missão,visão e valores</h4>
                    <div class=" py-2"
                        style="background-color: #F5F3F3; font-size: 1.2rem;"><span
                            class="ms-1">Sobre Nos/Missao-visao-valores</span></div>

                </div>
            </div>
            <div class="container">
                <div class="row mt-3 ms-auto me-auto mx-0">
                    <p class="mx-0 textoi" >A Faculdade de
                        Engenharia está
                        localizada na zona norte, mais precisamente na província
                        de Cabo Delgado, no distrito de
                        Pemba. Seu principal objetivo e
                        missão são educar e formar profissionais altamente
                        competentes nas diversas áreas da
                        engenharia, com um compromisso sólido com o avanço da
                        ciência e o bem-estar das
                        comunidades locais. A visão da faculdade é tornar-se uma
                        referência tanto nacional
                        quanto internacional em atividades de ensino, pesquisa e
                        extensão no campo da
                        engenharia, produzindo profissionais de alto calibre com
                        competência, excelência,
                        pensamento crítico e espírito empreendedor.
                        A instituição segue uma série de valores fundamentais
                        que orientam sua atuação, tais
                        como ética, inovação, qualidade, excelência, capacitação
                        e
                        desenvolvimento humano inclusivo, igualdade de gênero,
                        compromisso social e ambiental,
                        bem como cooperação social e comunitária. Esses
                        princípios
                        norteiam todas as atividades da faculdade e contribuem
                        para sua missão de formar
                        profissionais que fazem a diferença em suas comunidades.</p>

                    <div class="row mx-0">
                        <div class="col-md-4">
                            <div class="card mb-4 border-0">
                                <img src="../image/mission.jpg" height="200px"
                                    class="card-img-top" alt="Card 1">
                                <div class="card-body">
                                    <h5 class="card-title"> Missão</h5>
                                    <p class="card-text textoi">

                                        Educar e formar profissionais
                                        competentes nas áreas de engenharia,
                                        comprometidos com o
                                        desenvolvimento da ciência e bem-estar
                                        das comunidades locais.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 border-0">
                                    <img src="../image/visao.jpg" height="200px"
                                        class="card-img-top border" alt="Card 2">
                                    <div class="card-body">
                                        <h5 class="card-title">Visão</h5>
                                        <p class="card-text textoi">Ser referência
                                            nacional e internacional nas
                                            actividades
                                            de ensino, pesquisa e extensão nas
                                            áreas de engenharia, formando
                                            profissionais com elevada
                                            competência, excelência, sentido
                                            crítico e
                                            empreendedor
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 border-0">
                                    <img src="../image/valores.jpg"
                                        height="200px" class="card-img-top"
                                        alt="Card 3">
                                    <div class="card-body">

                                        <h5 class="card-title">Valores</h5>
                                        <p class="card-text textoi">Ética, inovação,
                                            qualidade, excelência, capacitação e
                                            desenvolvimento humano inclusivo,
                                            género, compromisso social e
                                            ambiental, cooperação social e
                                            comunitária.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="image-container">
                            <img src="../image/african.png"
                                alt="Imagem Africana"
                                style="width: 100%; height: 500px;">

                            <div class="overlay1">
                                <img src="../image/ulurio.png" alt="Logo"
                                    style="max-width: 200px;">
                                <h2>Universidade Lurio</h2>
                                <h2>Faculdade de Engenharia</h2>
                                <h2>Missão e Visão</h2>
                                <div class="triangle-down"></div>
                            </div>
                           
                        </div>
                    </div>
                </main>

                <footer class><%- include('../partials/footer'); %></footer>
                <script type="text/javascript" src="../js/jquery.js"></script>
                <script type="text/javascript" src="../js/bootstrap.js"></script>
                <script type="text/javascript" src="../js/axios.min.js"></script>
                <script type="text/javascript" src="../js/popper.js"></script>
            </body>
    </html>
